<div class="container-fluid">
    <div class="row">
    
            
        <div class="col-md-6  table-holder">
            <p *ngIf="!bettype"><em>Loading...</em></p>  
  
            <div class="mt-4">
            
            </div>
            <table class='table table-striped ' *ngIf="bettype">  
                <thead>  
                    <tr>  
                        
                        <th>Bet Type</th>  
                       
                        <th>Actions</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let cnt of bettype">  
                        <td>{{ cnt.bettype }}</td>  
                        <td>  
                                <button  (click)="LoadDataForEdit(cnt.betypeid)" class="btn btn btn-success">Edit</button> |
                            <button (click)="delete(cnt.betypeid)"  class="btn btn btn-danger">Delete</button>
                        </td>  
                    </tr>  
                </tbody>  
            </table> 
        </div>

        <div class="col-md-6  input">
            <form action="" [formGroup]="BetTypeForm" style="margin-bottom: 10px;" >
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control" id="bettype" required placeholder="Bet Type Name" formControlName="bettype">
                  </div>
               
                </div>
                <button (click)="onFormSubmit()" style="margin-top: 10px; background-color: #7386d5; border-radius: 0%; border: none;" class="btn btn btn-primary btn-block">{{title}}</button>
                <ng-template [ngIf]="count===0">
                    <button (click)="resertForm()" style="margin-top: 10px; background-color: #d2c14d; border-radius: 0%; border: none;" class="btn btn btn-primary btn-block">Cancel</button>
                </ng-template>   
            </form>
              <div class="watermark">
                <img src="https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/media/image/115382043.JPG" width="300px" alt="">
          </div>
        </div>

<!-- <p>  
    <button [routerLink]="['/Add-countries']" class="btn btn btn-outline-primary"> Create New</button>
</p> -->

        
    </div>
</div>


