

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6  table-holder">
            <p *ngIf="!tournamentbettype"><em>Loading...</em></p>  
        
            <div class="mt-4">
            
            </div>
            <table class='table table-striped ' *ngIf="tournamentbettype">  
                <thead>  
                    <tr>  
                        <th>ID</th>  
                        <th>Tournament</th>  
                        <th>Bet Type</th>  
                        
                       
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let cnt of tournamentbettype">  
                        <td>{{ cnt.id }}</td>  
                        <td>{{ cnt.name }}</td>  
                        <td>{{ cnt.bettype }}</td>  
                      
                       
                        <td>  
                                <button  class="btn btn btn-success">Edit</button> |
                            <button  (click)="delete(cnt.id)" class="btn btn btn-danger">Delete</button>
                        </td>  
                    </tr>  
                </tbody>  
            </table> 
        </div>
        <div class="col-md-6 input">
            <div class="form-row">
                <div class="col">
                    <div class="dropdown">
                        <button  class="btn btn-outline-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                    {{bettypesName}}
                                </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <div *ngFor="let bettype of bettypes">
                                <a (click)="SelectedBettype(bettype.betypeid)" class="dropdown-item">{{bettype.bettype}}</a>
                            </div>
                           
                         
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                    {{TournamentName}}
                                </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <div *ngFor="let tournament of tournament">
                                <a (click)="SelectedTournament(tournament.tournamentId)" class="dropdown-item">{{tournament.name}}</a>
                            </div>
                         
                        </div>
                    </div>
    
                </div>
               
                <button (click)="onFormSubmit()" style="margin-top: 10px; background-color: #7386d5; border-radius: 0%; border: none;" class="btn btn btn-primary btn-block">Map</button>
              </div> 
              <div class="watermark scale-in-ver-top">
                <img src="https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/media/image/115382043.JPG" width="300px" alt="">
          </div>
        </div>
    </div>

   
</div>